body {
  overflow: hidden;
  font-family: "HalvarBreit-RgSlanted";
}

#opening {
  position: relative;
  display: block;
  animation: sectionGo 500ms;
  animation-play-state: paused;
}

.openingGrid {
  width: 100%;
  position: absolute;
  margin: 0;
  z-index: 1;
}

.openingCity {
  width: 100%;
  position: absolute;
  margin-top: 25%;
  z-index: 3;
}

#sun {
  width: 32vw;
  position: absolute;
  margin-top: 10%;
  margin-left: 50%;
  z-index: 2;
}

#sunImg {
  width: 32vw;
  position: absolute;
  animation: sun 1.5s linear infinite;
  animation-play-state: paused;
  transform-origin: center center;
}

#house {
  width: 13.5vw;
  position: absolute;
  margin-top: 35%;
  margin-left: 7%;
  z-index: 2;
  animation: houseJump 1s ease-in infinite;
  animation-play-state: paused;
}

#houseImg {
  width: 13.5vw;
  position: absolute;
}

#houseButton {
  width: 13.5vw;
  position: absolute;
  margin-top: 35%;
  margin-left: 7%;
  z-index: 4;
  visibility: hidden;
}

#houseFakeImg {
  width: 13.5vw;
  position: absolute;
}


#startButton {
  width: 15vw;
  position: absolute;
  margin-top: 10.5%;
  margin-left: 16.5%;
  z-index: 4;
}

#startImg {
  width: 15vw;
}

.background2 {
  width: 100%;
  position: absolute;
  z-index: 1;
}

.desk {
  width: 35vw;
  position: absolute;
  margin-top: 27%;
  margin-left: 15%;
  z-index: 3;
}

.deskImg {
  width: 35vw;
}

.receptionLady {
  width: 10vw;
  position: absolute;
  margin-top: 22%;
  margin-left: 36%;
  z-index: 2;
  animation: ladySpeak 0.5s linear infinite;
  animation-play-state: paused;
}

.receptionLadyImg {
  width: 10vw;
}

.box1 {
  width: 8vw;
  position: absolute;
  margin-top: 29%;
  margin-left: 58%;
  z-index: 2;
}

.box1Img {
  width: 8vw;
}

#octopus {
  width: 10vw;
  position: absolute;
  margin-top: 22%;
  margin-left: 57%;
  z-index: 3;
  animation: octopus 1.2s ease-in;
  animation-play-state: paused;
}

#octopusImg {
  width: 10vw;
}

#door {
  width: 13vw;
  position: absolute;
  margin-top: 11.2%;
  margin-left: 78.7%;
  z-index: 3;
}

#doorImg {
  width: 13vw;
}

#yellowFrame {
  width: 12vw;
  position: absolute;
  margin-top: 6%;
  margin-left: 4%;
  z-index: 3;
  animation: yellowF 2s ease-in infinite;
  animation-play-state: paused;
}

#yellowFrameImg {
  width: 12vw;
}

#purpleFrame {
  width: 13vw;
  position: absolute;
  margin-top: 7%;
  margin-left: 27%;
  animation: purpleF 2s ease-in infinite;
  animation-play-state: paused;
  z-index: 3;
}

#purpleFrameImg {
  width: 13vw;
}

#reception {
  position: fixed;
  width: 100vw;
  display: none;
  animation: sectionCome 500ms;
  animation-play-state: paused;
}

.background3 {
  width: 100%;
  position: absolute;
  z-index: 1;
}

.night {
  width: 100vw;
  position: absolute;
  z-index: 2;
}

#nightImg {
  width: 23vw;
  margin-top: 8%;
  margin-left: 11%;
}

.day {
  width: 100vw;
  position: absolute;
  z-index: 3;
}

#dayImg {
  width: 23vw;
  margin-top: 8%;
  margin-left: 11%;
}

#chamelion {
  width: 100vw;
  position: absolute;
  overflow: hidden;
  z-index: 1;
}

#chamelionImg {
  width: 7vw;
  margin-top: 38%;
  margin-left: -4%;
  transform: scaleX(-1);
  animation: chamel 3s ease-in;
  animation-play-state: paused;
}

#solarium {
  width: 19vw;
  position: absolute;
  margin-top: 10%;
  margin-left: 72%;
  z-index: 3;
}

#solariumImg {
  width: 19vw;
}

#box2 {
  width: 9vw;
  position: absolute;
  margin-top: 30%;
  margin-left: 56%;
  z-index: 2;
}

#box2Img {
  width: 9vw;
}

#boxOpened {
  width: 6.8vw;
  position: absolute;
  margin-top: 31.5%;
  margin-left: 55.5%;
  z-index: 3;
  display: none;
}

#boxOpenedImg {
  width: 6.8vw;
}

#boxDoor {
  width: 4.7vw;
  position: absolute;
  margin-top: 33.5%;
  margin-left: 57.5%;
  z-index: 3;
  display: flex;
}

#boxDoorImg {
  width: 4.7vw;
}

.mac {
  width: 16vw;
  position: absolute;
  margin-top: 21%;
  margin-left: 57%;
  z-index: 2;
}

.macImg {
  width: 16vw;
}

#bulb {
  width: 8vw;
  position: absolute;
  margin-top: 0;
  margin-left: 50%;
  z-index: 3;
}

#bulbImg {
  width: 8vw;
}

#sunEyes {
  position: absolute;
  margin-top: 43%;
  margin-left: 12%;
  z-index: 2;
  animation: sunJump 3s ease-out infinite;
  animation-play-state: paused;
}

#sunEyesImg {
  width: 9vw;
  position: absolute;
}

#sunEyesText {
  width: 100vw;
  position: absolute;
  z-index: 3;
}

#sunEyesTextImg {
  width: 35vw;
  position: absolute;
  z-index: 3;
  margin-top: 43%;
  margin-left: 51%;
  display: none;
  animation: sunEyesText 2s ease-in;
  animation-play-state: paused;
}

#solariumText {
  width: 100vw;
  position: absolute;
  z-index: 3;
}

#solariumTextImg {
  width: 35vw;
  position: absolute;
  z-index: 3;
  margin-top: 35%;
  margin-left: 19%;
  display: flex;
  animation: sunEyesText 2s ease-in;
  animation-play-state: paused;
}

.object {
  width: 11vw;
  position: absolute;
  margin-top: 50.5%;
  margin-left: 10.5%;
  z-index: 3;
}

.objectImg {
  width: 11vw;
}

.tanningRoom {
  /* position: relative; */
  display: none;
  overflow: hidden;
  width: 100vw;
  animation: sectionCome 500ms;
}

.interfaceSect {
  position: fixed;
  display: none;
  overflow: hidden;
  width: 100vw;
}

.background4 {
  width: 100%;
  position: relative;
  z-index: 1;
}

.nightRoom {
  position: fixed;
  display: none;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.backInBlack {
  width: 100vw;
  height: 100vh;
  background: black;
  z-index: 1;
  position: absolute;
}

#nightSolarium {
  width: 16vw;
  position: absolute;
  margin-left: 72%;
  margin-top: 11%;
  z-index: 2;
}

#nightSolariumImg {
  width: 16vw;
}

.eyes {
  width: 6vw;
  position: absolute;
  margin-left: 14%;
  margin-top: 48%;
  z-index: 2;
}

.eyesImg {
  width: 6vw;
}

.nightText {
  width: 30vw;
  z-index: 2;
  position: absolute;
  margin-top: 37%;
  margin-left: 29%;
}

.nightTextImg {
  width: 30vw;
}

.interfaceMac {
  width: 48vw;
  position: absolute;
  margin-top: 11%;
  margin-left: 53%;
  overflow: hidden;
  padding-right: -10%;
  z-index: 2;
}

.interfaceMacImg {
  overflow: hidden;
  padding-right: -10%;
  width: 48vw;
}

#triangles {
  width: 17.5vw;
  margin-top: 26%;
  margin-left: 62.5%;
  position: absolute;
  z-index: 4;
  text-align: center;
  justify-content: space-between;
}

#redT {
  width: 2.6vw;
  margin-left: 2%;
  margin-right: 2%;
  animation: triangular 2s ease-in infinite;
  animation-play-state: paused;
  transform: scale(1);
}

#purpleT {
  width: 2.6vw;
  margin-left: 2%;
  margin-right: 2%;
  animation: triangular 2s ease-in infinite;
  animation-play-state: paused;
  transform: scale(1);
}

#yellowT {
  width: 2.6vw;
  margin-left: 2%;
  margin-right: 2%;
  animation: triangular 2s ease-in infinite;
  animation-play-state: paused;
  transform: scale(1);
}

#greenT {
  width: 2.6vw;
  margin-left: 2%;
  margin-right: 2%;
  animation: triangular 2s ease-in infinite;
  animation-play-state: paused;
  transform: scale(1);
}

#brownT {
  width: 2.6vw;
  margin-left: 2%;
  margin-right: 2%;
  animation: triangular 1.5s ease-in-out infinite;
  animation-play-state: paused;
  transform: scale(1);
}

#tanButton {
  width: 1.8vw;
  margin-left: 70.5%;
  margin-top: 30%;
  position: absolute;
  z-index: 2;
}

#tanButtonImg {
  width: 1.8vw;
}

#tanningText {
  width: 40vw;
  margin-left: 6.25%;
  margin-top: 15%;
  position: absolute;
  z-index: 2;
}

#tanningTextImg {
  width: 40vw;
}

.endOfGame {
  /* position: fixed; */
  display: none;
  overflow: hidden;
  width: 100vw;
}

.before {
  width: 40vw;
  margin-left: 0;
  margin-top: 10%;
  position: absolute;
  animation: before 3s ease-in infinite;
}

.beforeImg {
  width: 40vw;
}

.after {
  width: 43vw;
  margin-left: 57%;
  margin-top: 4%;
  position: absolute;
  animation: after 3s ease-in-out infinite;
}

.afterImg {
  width: 43vw;
}

#endText {
  width: 34vw;
  position: absolute;
  margin-left: 42%;
  margin-top: 43%;
}

#endTextImg {
  width: 34vw;
}

#refresh {
  width: 8.8vw;
  position: absolute;
  margin-left: 0%;
  margin-top: 0%;
}

#refreshImg {
  width: 8.8vw;
  animation: refresh 1s linear;
  animation-play-state: paused;
}

#octopusText {
  width: 35vw;
  position: absolute;
  margin-left: 55%;
  margin-top: 46%;
  z-index: 4;
  display: none;
}

#octopusTextImg {
  width: 35vw;
}

#chamelionText {
  width: 35vw;
  position: absolute;
  margin-left: 30%;
  margin-top: 30%;
  z-index: 4;
  display: none;
}

#chamelionText {
  width: 35vw;
}

#workerText {
  width: 37vw;
  position: absolute;
  margin-left: 54%;
  margin-top: 44%;
  align-items: center;
  z-index: 5;
}

#workerTextImg {
  width: 37vw;
  position: absolute;
  z-index: 1;
}

#starttext {
  position: absolute;
  text-align: left;
  margin-left: 9%;
  margin-top: 5%;
  color: black;
  font-size: 1.4vw;
  z-index: 2;
  width: 32vw;
}

#workerText2 {
  width: 37vw;
  position: absolute;
  margin-left: 54%;
  margin-top: 44%;
  display: none;
  align-items: center;
  z-index: 5;
}

#starttext2 {
  position: absolute;
  text-align: left;
  margin-left: 8%;
  margin-top: 6%;
  color: black;
  font-size: 1.4vw;
  z-index: 2;
  width: 32vw;
}
