@media only screen and (min-width: 1224px) {
  /* Desktop */
}

@media only screen and (min-device-width: 1400px) and (max-device-width: 1450px) {
  /* Desktop2 */
  .openingCity {display: none;}
  .openingCity2 {display: block;}
  #workerText { margin-top: 50%;}
  #octopusText {
    margin-left: 59%;
    margin-top: 50%;
  }
  #chamelionText {
    margin-left: 42%;
    margin-top: 44%;
  }
  #solariumTextImg {
    margin-left: 30%;
    margin-top: 43%;
  }
  #sunEyesTextImg {
    margin-left: 46%;
    margin-top: 47%;
  }
  .nightText {
    margin-left: 32%;
    margin-top: 40%;
  }
  .interfaceMac {
    margin-top: 17%;
    margin-left: 53%;
  }
  #triangles {
    margin-top: 32%;
    margin-left: 62.5%;
  }
  #tanButton {
    margin-left: 70.5%;
    margin-top: 36%;
  }
  #endText {
    margin-top: 47%;
}
}

@media only screen and (min-device-width: 1350px) and (max-device-width: 1380px) {
  /* Desktop3 */
  #triangles {
    width: 19.5vw;
    margin-left: 61.5%;
}
}


@media only screen and (min-device-width: 1000px) and (max-device-width: 1040px) {
  /* Desktop4 */
  .openingGrid { display: none;}
  .openingGrid2 {
    width: 100%;
    position: absolute;
    margin: 0;
    display: block;
    z-index: 1;
    margin-top: -1.4%;
  }
  .openingCity {
    margin-top: 43%;
  }
  #openingText {
    margin-top: 58%;
  }
  .openingCity {
    margin-top: 43%;
  }
  #sun {
    margin-top: 30%;
  }

  #house {
    margin-top: 50%;
    animation: houseJumpAdapt1024 1s ease-out infinite;
    animation-play-state: paused;
  }

  #houseButton { margin-top: 50%;}

  #workerText {
    margin-left: 30%;
    margin-top: 56%;
}
#reception {
    width: 100vw;
    height: 100vh;
    background-color: #C4C4C4;
}

#tanningRoom {
    width: 100vw;
    height: 100vh;
    background-color: #C4C4C4;
}

#sunEyesTextImg {
    margin-top: 59%;
    margin-left: 54%;
}

#solariumTextImg {
    margin-top: 54%;
    margin-left: 32%;
}

#octopusText {
    margin-left: 52%;
    margin-top: 56%;
}

#chamelionText {
    margin-left: 37%;
    margin-top: 57%;
}

#triangles {
    width: 19.5vw;
    margin-left: 58.5%;
    margin-top: 37%;
}

.interfaceMac {
    width: 60vw;
    margin-top: 18%;
    margin-left: 45%;
}

.interfaceMacImg {
    width: 60vw;
}

#tanningText {
    margin-top: 15%;
}

#tanButton {
    width: 2.8vw;
    margin-left: 66.5%;
    margin-top: 41%;
}

#tanButtonImg {
    width: 2.8vw;
}

#endText {
    margin-left: 33%;
    margin-top: 49%;
}
#endOfGame {
    padding-top: 8vw;
}

}

@media only screen and (min-device-width: 768px) and (max-device-width: 900px) and (orientation: portrait) {
  /* iPad Portrait */
  .rotatePlz {
    display: block;
  }
}

@media only screen and (min-device-width: 400px) and (max-device-width: 440px) and (orientation: portrait) {
  /* iPhone 1 */
  .rotatePlz {
    display: block;
  }

  .rotateBeg {
    width: 56vw;
    margin-left: 23%;
    margin-top: 80%;
    position: absolute;
  }

  .rotateLight1 {
    width: 68vw;
    margin-left: 17%;
    margin-top: 72%;
  }

  .rotateLight2 {
    width: 68vw;
    margin-left: 17%;
    margin-top: 72%;
  }
}

@media only screen and (min-device-width: 890px) and (max-device-width: 900px) {
  /* iPhone 1 (same but rotated) */
  .openingCity {
    margin-top: 20%;
  }

  #sun {
    margin-top: 5%;
  }

  #house {
    margin-top: 27%;
    animation: houseJumpAdapt896 1s ease-out infinite;
    animation-play-state: paused;
  }

  #openingText {
    margin-top: 31%;
  }

  #workerText {
    margin-left: 45%;
    margin-top: 34%;
  }

  #octopusText {
    margin-left: 17%;
    margin-top: 36%;
  }

  #chamelionText {
    margin-left: 12%;
    margin-top: 33%;
  }

  #triangles {
    width: 20.5vw;
    margin-top: 19%;
    margin-left: 60.7%;
  }

  #tanButton {
    width: 2vw;
    margin-left: 70.5%;
    margin-top: 23%;
}

  #tanButtonImg {
      width: 2vw;
    }

  .interfaceMac {
    margin-top: 4%;
  }

  #afterRed {
    width: 34vw;
    margin-left: 66%;
  }

  #afterRed, #afterBrown, #afterYellow, #afterGreen, #afterGreen {
    width: 34vw;
    margin-left: 66%;
  }

  #afterImg {
    width: 34vw;
  }

  #before {
    width: 34vw;
  }

  .beforeImg {
    width: 34vw;
}

  #endText {
    margin-left: 40%;
    margin-top: 34%;
  }
}

@media only screen and (min-device-width: 340px) and (max-device-width: 380px) and (orientation: portrait) {
  /* iPhone 2  */
  .rotatePlz {
    display: block;
  }

  .rotateBeg {
    margin-top: 70%;
  }

  .rotateLight1 {
    margin-top: 62%;
  }

  .rotateLight2 {
    margin-top: 62%;
  }

  #triangles {
    width: 21.5vw;
    margin-left: 60.5%;
}
}
